$primary: 	#46005F;
$secondary: #8318b4;

@import '~bootstrap/scss/bootstrap.scss';

.blue-light {
  background-color: #E4F6F8;
}

.white-gray {
  color: #dedede !important;
}

.sidebar {
  height: 100vh; 
  overflow-y: auto;
}

.content {
  height: 100vh;
  overflow-y: auto;
  padding-bottom: 0 !important;
  overflow-x: hidden;
}

.footer {
  margin-top: auto;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
